.app{
  width: 100%;
  height: max-content;
  display: flex;
}
.sidebar{
  height: 100vh;
  display: flex;
}
.channel-item{
  display: flex;
}
.channel-picture{
  height: 50px;
  width: 50px;
}
.current-user-pic{
  height: 50px;
  width: 50px;
}
.channel-name,
.fade{
  display: none;
}
.content{
  height: 100%;
  width: 100%;
}
.dm-container{
  display: flex;
  flex-direction: column;
}
.dm-item{
  display: flex;
}
.dm-user-pic{
  height: 50px;
  width: 50px;
}
.dm-footer{
  display: flex;
}
