.content{
  height: 100vh;
}
.content-nav{
  display: flex;
}
.message{
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 0.1fr 0.1fr 1fr;
  grid-template-areas: 
  "profilepic name date"
  "message message message";
}
.message-profile-pic{
  grid-area: profilepic;
}
.message-author{
  grid-area: name;
}
.message-timestamp{
  grid-area: date;
}
.message-content{
  grid-area: message;
}