.content{
  grid-area: content;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 1fr 0.1fr;
  grid-template-areas:
  "trending trending"
  "content-popular content-sidebar";
}

/* trending styling */
.trending{
  display: flex;
  justify-content: space-around;
  grid-area: trending;
  padding: 10px;
  margin: 10px;
}
.trending-title{
  display: flex;
  justify-content: center;
}
.trending-text{
  display: flex;
  justify-content: center;
}
.trending-img{
  height: 200px;
  width: 200px
}
.content-popular{
  grid-area: content-popular;
}
.content-sidebar{
  grid-area: content-sidebar;
}

/* popular nav  styling */
.popular-nav{
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  gap: 20px;
}
.popular-nav-item{
  display: flex;
}

/* Content section */
.content-item{
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 0.1fr 1fr;
  grid-template-areas:
  "content-item-sidebar content-item-nav"
  "content-item-sidebar content-item-body";
  margin-left: 100px;
}
.content-sidebar{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.content-item-sidebar{
  display: flex;
}
.content-item-nav{
  grid-area: content-item-nav;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  gap: 20px;
}
.content-item-title{
  margin: 5px;
  padding: 5px;
}
.content-item-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-item-body{
  grid-area: content-item-body;
}
.content-item-footer{
  display: flex;
}
.content-item-footer *{
  display: flex;
  margin: 5px;
}
.content-upvote,
.content-downvote,
.content-item-origin,
.content-item-footer-comments,
.content-item-share,
.content-item-save,
.popular-nav-item{
  cursor: pointer;
}
.community{
  list-style: none;
}
.community-item:hover{
  cursor: pointer;
  background-color: aliceblue;
}
.copyright-info{
  display: flex;
  flex-direction: column;
}
.copyright-info *:hover{
  cursor: pointer;
  background-color: aliceblue;
}