.nav{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: nav;
}
.nav-drop-down{
  display: none;
}
.search-container{
  display: flex;
  width: 50%;
}
.search-container input{
  width: 100%;
}