.sidebar{
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

/* Feed section styling */

.feed-topic-container{
  display: flex;
  flex-direction: column;
}
.feed-topic-container *{
  display: flex;
}